.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4661cd;
  color:white
}
tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for even rows */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* White for odd rows */
}

tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}


td {
  text-align: center;
}

img{
  width: 20px;
  height: 20px;
  float:  right;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
